{% extends 'base.html' %}

{% block title %} Main page {% endblock %}


{% block content %}



<div class"row">
    <div class="col-xs-12 text"></span><h2>What are you in the mood for?</h2>
    <form action='/results'>
    <div class='forms'>
    <input type='text' name='type_of_food' value='Chinese'>
    <input type='submit' />
    </div>

    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3><a href='/advanced_search_form'>Wanna a better dining experience?</a></h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3><a href='/restaurants'>Try one of these restaurants today</a></h3></div>
</div>

<br>
<br>







{% endblock %}